# SDCodex Environment Configuration

# Core settings
SDCODEX_PORT=5001
SECRET_KEY=
DB=./db
MODELS=./app/static/downloads

# Plugin Volumes (automatically managed when plugins are installed via Settings -> Plugins)
# SDCodec-ComfyCaption
GALLERY=./app/static/saved_gallery

# SDCodex-GalleryDL
TASKS=./tasks
CONFIG=./config
IMAGES=./downloads

# SDCodex-RemBG
HF_HOME=./Huggingface
REMBG_OUTPUT=./rembg_output
